{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/homepage.css">
<div class="header-image-container">
   <img src="https://homepage.momocdn.net/img/momo-upload-api-220617165559-637910817596648573.jpg" alt="Header Image" class="header-image">
   <div class="overlay"></div>
   <div class="header-text">
      <h1 style="font-weight: 500 !important;">Hội Tình Nguyện IUH</h1>
      <p>Hãy cùng chúng tôi lan tỏa tình yêu và sự thay đổi tích cực đến mọi người.</p>
      <a class="text-reset" style = "padding-top: 2px;">
      <button type="button" class="btn-signup" data-bs-toggle="modal" data-bs-target="#registerModal" href="#">Tìm Hiểu Thêm</button>
      </a>
   </div>
</div>
<section id="about" class="py-5">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h2 class="observe-slide-up" style="font-weight: 500 !important; color: #dbba57">Về Chúng Tôi</h2>
            <p class="observe-slide-up">Tình Nguyện IUH là một tổ chức phi lợi nhuận hoạt động tại trường Đại học Công nghiệp TP.HCM (IUH). Chúng tôi tập hợp các sinh viên tình nguyện với mục đích mang lại những thay đổi tích cực cho cộng đồng và xã hội.</p>
            <p class="observe-slide-up">Với tinh thần "Hành động vì cộng đồng," chúng tôi tổ chức các hoạt động như: hiến máu nhân đạo, bảo vệ môi trường, giúp đỡ người vô gia cư, và nhiều hoạt động khác nhằm lan tỏa tình yêu thương và lòng nhân ái.</p>
         </div>
         <div class="col-md-6">
            <img src="https://cand.com.vn/Files/Image/thanhhang/2016/07/04/f240eaee-5bf3-405c-91a0-0cf1ce3aa042.jpg" alt="About Image" class="img-fluid rounded observe-slide-up" style="width: 100%; height: 100%; margin-left: 150px; border: 3px solid #dbba57;">
         </div>
      </div>
   </div>
</section>
<section id="upcoming-events" class="py-5">
   <div class="container">
      <h2 style="color: #dbba57" class="text-center mb-4 observe-slide-up">Sự Kiện Sắp Tới</h2>
      <div class="row">
         {% for event in upcoming_events %}
         <div class="col-md-4 mb-4 observe-slide-up">
            <div class="card h-100 card-post">
               <img src="{{ event.cover.url }}" class="card-img-top" alt="{{ event.name }}" style="height: 400px; weight: 400px; object-fit: cover;">
               <div class="card-body">
                  <h5 style="color: #dbba57; padding-bottom: 5px;" class="card-title">{{ event.name }}</h5>
                  <hr>
                  <p class="card-text"><i class="fa-solid fa-calendar-days"></i> Thời gian: {{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}</p>
                  <p class="card-text"><i class="fa-solid fa-location-dot"></i> Địa điểm: {{ event.location }}</p>
                  <p class="card-text"><i class="fas fa-users"></i> {{ event.current_participants }}/{{ event.max_participants }} Người đã tham gia</p>
               </div>
               <div class="banner-footer" style="justify-content: center;">
                  <button type="button" class="btn-detail-post" href="#">Xem Chi Tiết</button>
               </div>
            </div>
         </div>
         {% empty %}
         <h4 class="text-center mb-4 observe-slide-up">Hiện không có sự kiện nào sắp diễn ra. <i class="far fa-sad-tear"></i></h4>
         {% endfor %}
      </div>
   </div>
   </div>
</section>
<section id="join" class="py-5" style="fon-tweight: bold;">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <img src="https://tuoitreiuh.com/wp-content/uploads/2022/06/MHX-188A2165-1024x683.jpg" alt="Join Image" class="img-fluid rounded observe-slide-up" style="width: 100%; height: 100%; border: 3px solid #dbba57;">
         </div>
         <div class="col-md-6">
            <h2 class="observe-slide-up" style="color: #dbba57">Tham Gia Cùng Chúng Tôi</h2>
            <p class="observe-slide-up">Nếu bạn là một người có lòng nhiệt huyết và muốn đóng góp cho cộng đồng, hãy đăng ký tham gia tình nguyện viên IUH ngay hôm nay.</p>
            <div class="observe-slide-up">
               <div class="mb-3 row">
                  <div class="col-6" style="padding-right: 0;">
                     <strong><label for="name">Họ tên:</label></strong>
                     <input type="text" class="form-control" id="nameInput" name="name" placeholder="Nhập họ tên">
                  </div>
                  <div class="col-6">
                     <strong><label for="age">Tuổi:</label></strong>
                     <input type="number" class="form-control" id="ageInput" name="age" placeholder="Nhập tuổi">
                  </div>
               </div>
               <div class="mb-3 row">
                  <div class="col-6" style="padding-right: 0;">
                     <strong><label for="email">Email:</label></strong>
                     <input type="email" class="form-control" id="emailInput" name="email" placeholder="Nhập email">
                  </div>
                  <div class="col-6">
                     <strong><label for="phone">Số điện thoại:</label></strong>
                     <input type="text" class="form-control" id="phoneInput" name="phone" placeholder="Nhập số điện thoại">
                  </div>
               </div>
            </div>
            <a href="#" style="color: #dbba57;">Điều khoản và Điều kiện</a>
            <button type="button" class="btn-detail-post" data-bs-toggle="modal" data-bs-target="#registerModal">Đăng ký</button>
         </div>
      </div>
   </div>
</section>
{% endblock %}