<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hướng dẫn:</p>
                <ul>
                    <li>Nhập mật khẩu cũ của bạn vào trường "Mật khẩu cũ".</li>
                    <li>Nhập mật khẩu mới của bạn vào trường "Mật khẩu mới".</li>
                    <li>Nhập lại mật khẩu mới của bạn vào trường "Xác nhận mật khẩu mới".</li>
                    <li>Nhấp vào nút "Đổi mật khẩu" để thực hiện thay đổi.</li>
                </ul>
                <form>
                    <div class="mb-3">
                        <label for="change_old_password" class="form-label"><strong><i class="fa-solid fa-unlock"></i> Mật khẩu cũ:</strong></label>
                        <input type="password" class="form-control" id="change_old_password">
                    </div>
                    <div class="mb-3">
                        <label for="change_new_password" class="form-label"><strong><i class="fa-solid fa-unlock-keyhole"></i> Mật khẩu mới:</strong></label>
                        <input type="password" class="form-control" id="change_new_password">
                    </div>
                    <div class="mb-3">
                        <label for="change_confirm_password" class="form-label"><strong><i class="fa-solid fa-lock"></i></i> Xác nhận mật khẩu mới:</strong></label>
                        <input type="password" class="form-control" id="change_confirm_password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="padding: 10px 20px;border-radius: 5px;">Hủy</button>
                <button type="button" class="btn-submit-modal" id="changePasswordBtn">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>