.custom-nav {
  display: flex;
  border-bottom: 2px solid #464c58;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.custom-nav-item {
  margin-right: 20px; /* Điều chỉnh khoảng cách giữa các nav-item */
} 

.custom-nav-link {
  color: #464c58;
  text-decoration: none;
  position: relative;
}

.custom-nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent; /* Ban đầu không có gạch chân */
  transition: background-color 0.3s ease;
}
.custom-nav-link:hover {
  color: #dbba57;
  transition: color 0.5s ease;
  transform: none;
  z-index: 1;
}

.custom-nav-link:hover::after {
  background-color: #e0a362;
  height: 3px;
  z-index: 1;
}

.custom-nav-link.active {
  color: #dbba57;
  z-index: 1;
}

.custom-nav-link.active::after {
  background-color: #dbba57;
  height: 3px;
  z-index: 1;
}

/* ----------------- post ----------------- */

.card {
  max-width: 450px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p i {
  margin-right: 10px;
}

h5.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  max-height: 2.4em; /* Điều chỉnh chiều cao tùy ý */
  line-height: 1.2; /* Điều chỉnh line-height tùy ý */
  margin-bottom: 15px; /* Khoảng cách margin bạn muốn */
}

.short-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  max-height: 14em; /* Điều chỉnh chiều cao tùy ý */
  line-height: 1.3; /* Điều chỉnh line-height tùy ý */
  margin-bottom: 10px; /* Khoảng cách margin bạn muốn */
}

.btn-detail-post{
  background-color: #dbba57;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-detail-post:hover {
  background-color: #d4a03b;
  color: #ffffff;
}

.btn-detail-post:focus {
  box-shadow: none;
}

.btn-detail-post:active {
  transform: scale(0.98); 
}

/* ----------------- btn interact ----------------- */

.btn-detail-post-c{
  background-color: #dbba57;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-detail-post-c:hover {
  transform: scale(1.06);
  transition: transform 0.4s ease;
}

.btn-detail-post-c:focus {
  box-shadow: none;
}

.btn-detail-post-c:active {
  transform: scale(0.98); 
}

.btn-interact {
  background-color: #dbba57;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn-interact:active {
  transform: scale(0.98);
}

.viewsBtn {
  color: #dbba57;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  float : right;
  margin-bottom: 15px;
  font-weight: bold;
}

/*----------------- search-box -----------------*/

.search-box-c {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  padding-top: 6px;
  border: none;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 600px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin : 0 auto;
}

.search-txt-c {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 700px;
}

.search-btn-c {
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  color: #464c58;
}

.search-btn-c:hover {
  background-color: #f1f1f1;
  color: #464c58;
}

.search-btn-c:focus {
  box-shadow: none;
}
/* ----------------- filter ----------------- */

.filter-row {
  justify-content: center;
  margin-bottom: 10px;
}

.filter-row .select {
  margin-right: 10px;
  width: 200px;
}

.form-elements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-elements > * {
  margin-right: 10px;
}

.search-and-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}